body {
  text-align: center;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
}
section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  boarder; border: 1px solid black;
}
div {
  border: 1px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin: 4px;
}

button {
  border-radius: 8px;
  margin: 30px;
  font-family: 'Sulphur Point', sans-serif;
  background-color: rgb(79, 122, 149);
  color: white;
} 
button:hover {
  background-color: rgb(238, 199, 199);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
