body {
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
}
section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  /* margin: 20px;
  border-radius: 8%;
  border: 1px solid black;
  padding: 15px; */
}   

div {
  border: 1px solid rgb(0, 0, 0);
  font-size: 6vmin;
  border-radius: 50%;
  margin: 6px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
button {
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  margin: 30px;
  font-size: 16px;
  font-family: 'Sulphur Point', sans-serif;
  border: 1px solid black;
  border-radius: 34px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 
button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}